<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/mainStyleBlack.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/styleReportTable.css}" rel="stylesheet" media="screen"/>
    <title>Report</title>
</head>
<body>
<div class="container">
    <h3 th:text="'great job, ' + ${report.quiz.user.person.firstName} + '!'">great job, User</h3>
    <table>
        <tr>
            <th>question</th>
            <th>your Answer</th>
            <th>correct</th>
            <th>result</th>
            <th>time</th>
        </tr>
        <tr th:each="question, iState : ${report.questionStringList()}">
            <td th:text="${question}"></td>
            <td th:text="${report.UserAnswers().get(iState.index)}"></td>
            <td th:text="${report.correctAnswer().get(iState.index)}"></td>
            <td th:text="${report.isCorrectList().get(iState.index)}"
                th:style="'color:' + ${report.colorList().get(iState.index)}"></td>
            <td th:text="${report.durationStringList().get(iState.index)}"></td>
        </tr>
    </table>
    <table>
        <th>
            TOTAL
        </th>
        <tr>
            <td th:text="'you have ' + ${report.amountCorrectAnswers()} + ' correct answers'"></td>
        </tr>
        <tr>
            <td th:text="'your score :' + ${report.scorePercentage()} + '%'"></td>
        </tr>
        <tr>
            <td th:text="'you did it in : ' + ${report.totalDuration()}"></td>
        </tr>
    </table>

    <br>

    <div class="row">
        <form th:action="@{/quiz/settings}" method="post">
            <button class="submitButton" type="submit">new game</button>
        </form>
    </div>

    <div class="row">
        <form th:action="@{/overview/list}" method="post">
            <button class="submitButton" type="submit">back to list</button>
        </form>
    </div>

    <div class="row">
        <form th:action="@{/logout}" method="post">
            <button class="submitButton" type="submit">logoff</button>
        </form>
    </div>

</div>

</div>
</body>
</html>