@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;;
    color: rgb(245, 243, 243);
    font-size: 1.5vw;
}

body {
    background-color: black;
}


.container {
    margin: auto;
    width: 50%;
}

.colLeft {
    width: 200px;
    text-align: right;
}

.colRight {

}




.row {
    width: 100%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}



input {
    width: 80%;
    border: none;
    background-color: black;
    border-bottom: dotted 1px;
}


input:active {
    outline: none;
    border: none;
}

input:focus {
    outline: none;

}


.checkBoxes {
    margin-left: 45%;
    border: none;
    padding: 0px;
}


/* The containe  */
.checkmarkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmarkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkMark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
    border: solid whitesmoke 1px;
}


/* On mouse-over, add a grey background color */
.checkmarkContainer:hover input ~ .checkMark {
    background-color: black;
    border: solid whitesmoke 1px;
}

/* When the checkbox is checked, add a blue background */
.checkmarkContainer input:checked ~ .checkMark {
    background-color: black;
    border: whitesmoke solid 1px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmarkContainer input:checked ~ .checkMark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmarkContainer .checkMark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button:hover {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

button:active {
    border: none;
    outline: none;
}

button::-moz-focus-inner {
    border: none;

}

button::-moz-focus-outer {
    outline: none;
    border: none;
}

button {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: solid 1px;
    cursor: pointer;
    float: right;
}


.reportButtonsDiv {
    margin-left: 1%;
}





table {
    margin: auto;
    width: 99%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    word-break: break-all;
    padding: 10px 10px 10px;
    color: #F8F9F9
}

th {
    text-align: left;
    background-color: black;
    color: #299999;
    border-bottom: solid 1px #299999;
}


/* tr:nth-child(even) {} */
tr:nth-child(odd) {
    background: #299999
}

tr:hover {
    background-color: rgb(109, 109, 109);
}


.progressBarBackground {
    height: 25px;
    margin: auto;
    padding: 1px;
    margin-bottom: 20px;
    outline: solid 1px;
    width: 40%;
}

.progressBar {
    height: 23px;
    color: #F8F9F9;
    font-size: 15px;
    padding-right: 10px;
    text-align: right;
    border: solid 1px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
} */