<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Little Arithmetics Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/styleQuizBlack.css}" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<div class="container" th:object="${quiz}">
    <h1 th:text="|Welcome, *{user.person.firstName}|"></h1>

    <form th:action="@{/quiz/question}" method="post">

        <fieldset class="checkBoxes">
            <label class="checkmarkContainer">+
                <input name="addition" th:field="*{settings.addition}" type="checkbox" value="true">
                <span class="checkMark"></span>
            </label>

            <label class="checkmarkContainer">-
                <input name="subtraction" th:field="*{settings.subtraction}" type="checkbox" value="true">
                <span class="checkMark"></span>
            </label>
            <label class="checkmarkContainer">x
                <input name="multiplication" th:field="*{settings.multiplication}" type="checkbox" checked="checked"
                       value="true">
                <span class="checkMark"></span>
            </label>
            <label class="checkmarkContainer">/
                <input name="division" th:field="*{settings.division}" type="checkbox" value="true">
                <span class="checkMark"></span>
            </label>
            <label class="checkmarkContainer">shuffle
                <input name="shuffle" th:field="*{settings.shuffled}" type="checkbox" value="true">
                <span class="checkMark"></span>
            </label>
        </fieldset>

        <div class="row">
            <div class="col-25">
                <label>amount of questions</label>
            </div>
            <div class="col-75">
                <input name="amount" th:field="*{amountQuestions}" type="number" value="2">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>first number lower bound</label>
            </div>
            <div class="col-75">
                <input name="lowerBoundFirstNumber" th:field="*{boundaries.lowerBoundFirstNumber}" type="number"
                       value="2">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>first number Upper bound</label>
            </div>
            <div class="col-75">
                <input name="upperBoundFirstNumber" th:field="*{boundaries.upperBoundFirstNumber}" type="number"
                       value="9">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>second number lower bound</label>
            </div>
            <div class="col-75">
                <input name="lowerBoundSecondNumber" th:field="*{boundaries.lowerBoundSecondNumber}" type="number"
                       value="2">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>second number Upper bound</label>
            </div>
            <div class="col-75">
                <input name="upperBoundSecondNumber" th:field="*{boundaries.upperBoundSecondNumber}" type="number"
                       value="9">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <button class="submitButton" type="submit">Push here</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>