<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/styleQuizBlack.css}" rel="stylesheet" media="screen"/>
    <title>Welcome</title>
</head>
<body>

<div class="container">
    <h1 th:text="'Welcome, ' + ${firstName}"> Welcome, </h1>


    <div class="row">
        <div class="col-25">
            <a class="submitButton" th:href="${'/overview/simple'}">quiz list overview</a>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <a class="submitButton" th:href="${'/overview/mainOverview'}">overview all</a>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <a class="submitButton" th:href="${'/quiz/settings'}">start a quiz</a>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <a class="submitButton" th:href="${'/logout'}">Log Out</a>
        </div>
    </div>
</div>


</body>
</html>