<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/logo.css}" rel="stylesheet"/>
    <title>Welcome</title>
</head>
<body class="welcomeBody">
<div class="logoBox">
    <h1 class="title">Little Arithmetics</h1>

    <table class="logo">
        <tr>
            <td>+</td>
            <td>-</td>
        </tr>
        <tr>
            <td>*</td>
            <td>/</td>
        </tr>
    </table>


    <div class="buttons">
        <a class="submitButton" th:href="${'/login'}">log in</a>
    </div>

    <div class="buttons">
        <a class="submitButton" th:href="${'/newUser'}">sign up</a>
    </div>


</div>
</body>

</html>