<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Please Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/mainStyleBlack.css}" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<div th:fragment="content" class="container">

    <h1 th:text="'Hello, arithmetician'"></h1>

    <form name="f" th:action="@{/login}" method="post">

        <div class="row">
            <div class="colLeft">
                <label for="username">Username:</label>
            </div>
            <div class="colRight">
                <input type="text" id="username" name="username"/>
            </div>
        </div>

        <div class="row">
            <div class="colLeft">
                <label for="password">Password:</label>
            </div>
            <div class="colRight">
                <input type="password" id="password" name="password"/>
            </div>
        </div>
        <div class="row">
            <div class="colLeft">

            </div>
            <div class="colRight">
                <button type="submit" class="submitButton">Log in</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>