<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../../static/css/styleQuizBlack.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">
    <h1>Hello arithmetician, </h1>

    <form th:action="@{/person/save}" th:object="${person}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <h1>Person data</h1>

        <input type="hidden" th:field="*{id}"/>

        <div class="row">
            <div class="col-25">
                <label>first name : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{firstName}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>family name : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{familyName}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>email : </label>
            </div>
            <div class="col-75">
                <input type="email" th:field="*{email}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>phone number : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{phoneNumber}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>date of birth : </label>
            </div>
            <div class="col-75">
                <input type="date" th:field="*{dateOfBirth}" th:value="${#dates.createNow()}"/>
            </div>
        </div>

        <h1>Address</h1>

        <input type="hidden" th:field="*{address.id}"/>

        <div class="row">
            <div class="col-25">
                <label>street : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{address.street}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>street number : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{address.streetNumber}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>city : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{address.city}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>postal code : </label>
            </div>
            <div class="col-75">
                <input type="text"th:field="*{address.postalCode}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label>country : </label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{address.country}">
            </div>
        </div>


        <div class="row">
            <div class="userInput">
                <button class="submitButton" type="submit">submit</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>