
body{
    font-family: 'Indie Flower', cursive;
    color: dimgray;
}

div{
    background-color: burlywood;
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

label{
    margin-left: 5px;
}

input{
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.submitButton{
    font-family: 'Indie Flower', cursive;
    background-color: #DC7633;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}